# Unity generated folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Aa]ssets/Audio/
[Aa]ssets/Sprites/
[Aa]ssets/Animations/
[Aa]ssets/Tiles/

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Rider
.idea/

# Visual Studio
.vs/
*.csproj
*.sln

# Crash reports
sysinfo.txt